################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algoritma/Latihan/InsertionSort/InsertionSort.vcxproj.filters
/Algoritma/Latihan/InsertionSort/InsertionSort.vcxproj
